{% extends "EpitaCourseBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="container">
        <title>{% block title %}Edit Profile{% endblock %}</title>
        <h3>Edit Profile</h3>
    </div>
    <div class="container">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="row">
            <div class="col-md-2">{{ form_label(form.salutation) }}</div>
            <div class="col-md-2">{{ form_widget(form.salutation) }}</div>
            <div class="col-md-4">{{ form_errors(form.salutation) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.firstname) }}</div>
            <div class="col-md-2">{{ form_widget(form.firstname) }}</div>
            <div class="col-md-4">{{ form_errors(form.firstname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.lastname) }}</div>
            <div class="col-md-2">{{ form_widget(form.lastname) }}</div>
            <div class="col-md-4">{{ form_errors(form.lastname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.email) }}</div>
            <div class="col-md-2">{{ form_widget(form.email) }}</div>
            <div class="col-md-4">{{ form_errors(form.email) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.username) }}</div>
            <div class="col-md-2">{{ form_widget(form.username, {'attr': {'readonly' : 'true'} }) }}</div>
            <div class="col-md-4">{{ form_errors(form.username) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.current_password) }}</div>
            <div class="col-md-2">{{ form_widget(form.current_password) }}</div>
            <div class="col-md-4">{{ form_errors(form.current_password) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <input type="submit" value="Update" />
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <a href="{{ path('fos_user_change_password') }}">Change-Password</a>
            </div>
        </div>
        <br><br>
         <div style="text-align: center" class="col-sm-offset-5 col-sm-2 btn-sm btn-primary">
            <a style="text-decoration: none; color: white" href="{{ path('fos_user_profile_show') }}">Home Page</a>
        </div>

        <br><br>
        <div style="text-align: center" class="col-sm-offset-5 col-sm-2 btn-sm btn-primary">
            <a style="color: white; text-decoration: none" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}