{% extends "EpitaCourseBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
 <style>
    .row{
  display: flex;
  align-items: center;
  margin:auto;
  justify-content: center;
}
</style>
    <div class="container">
        <img src="{{ asset('bundles/epitacourse/img/logo.png') }}" /></div>
         </img>
        <title>{% block title %}Edit Profile{% endblock %}</title>
    </div>
    <div class="container">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="col-md-2 col-md-offset-2"> <h3>  Edit Profile </h3></div><br>
        
        <h4> <a style="text-decoration: none;" href="{{ path('fos_user_profile_show') }}">Home Page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="col-md-2"> 
                <div class="col-md-2">   </div><a href="{{ path('fos_user_security_logout') }}"></div>
                 {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></h4>
        <br><br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.salutation) }}</div>
            <div class="col-md-2">{{ form_widget(form.salutation) }}</div>
            <div class="col-md-4">{{ form_errors(form.salutation) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.firstname) }}</div>
            <div class="col-md-2">{{ form_widget(form.firstname) }}</div>
            <div class="col-md-4">{{ form_errors(form.firstname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.lastname) }}</div>
            <div class="col-md-2">{{ form_widget(form.lastname) }}</div>
            <div class="col-md-4">{{ form_errors(form.lastname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.email) }}</div>
            <div class="col-md-2">{{ form_widget(form.email) }}</div>
            <div class="col-md-4">{{ form_errors(form.email) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.username) }}</div>
            <div class="col-md-2">{{ form_widget(form.username, {'attr': {'readonly' : 'true'} }) }}</div>
            <div class="col-md-4">{{ form_errors(form.username) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.current_password) }}</div>
            <div class="col-md-2">{{ form_widget(form.current_password) }}</div>
            <div class="col-md-4">{{ form_errors(form.current_password) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"><input type="submit" value="Update" /></div>
            <div class="col-md-2"></div>
            </div>
        <br> 
        <div class="row">
            <div class="col-md-2"><a href="{{ path('fos_user_change_password') }}">Change-Password</a></div>
            <div class="col-md-2"></div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}