{% extends "EpitaCourseBundle::layout.html.twig" %}
{% form_theme form 'EpitaCourseBundle:Form:form_detail_div_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %} 
    <style>
    .row{
  display: flex;
  align-items: center;
  margin:auto;
  justify-content: center;
    }
</style>
    <div class="container">
         <img src="{{ asset('bundles/epitacourse/img/logo.png') }}" /></div>
         </img>
         <title>{% block title %}Add Course{% endblock %}</title>
    <br>
    <div class="container">
        {{ form_start(form) }}
        <div class="col-md-2 col-md-offset-2"> <h3>  Add Course </h3></div><br>
        
        <h4> <a style="text-decoration: none;" href="{{ path('fos_user_profile_show') }}">Home Page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="col-md-2"> 
                <div class="col-md-2">   </div><a href="{{ path('fos_user_security_logout') }}"></div>
                 {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></h4>
        <br>
            <div class="row">
                <style>                   
                       input {width:150%;}
                       textarea {width:200%;min-height: 163px;}                   
                </style>
            <div class="col-md-2">{{ form_label(form.coursename) }}</div>
            <div class="col-md-2">{{ form_widget(form.coursename) }}</div>
            <div class="col-md-4">{{ form_errors(form.coursename) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.teachingunit) }}</div>
            <div class="col-md-2">{{ form_widget(form.teachingunit) }}</div>
            <div class="col-md-4">{{ form_errors(form.teachingunit) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.coursecode) }}</div>
            <div class="col-md-2">{{ form_widget(form.coursecode) }}</div>
            <div class="col-md-4">{{ form_errors(form.coursecode) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.ectscredits) }}</div>
            <div class="col-md-2">{{ form_widget(form.ectscredits) }}</div>
            <div class="col-md-4">{{ form_errors(form.ectscredits) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.atthours) }}</div>
            <div class="col-md-2">{{ form_widget(form.atthours) }}</div>
            <div class="col-md-4">{{ form_errors(form.atthours) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.program) }}</div>
            <div class="col-md-2">{{ form_widget(form.program) }}</div>
            <div class="col-md-4">{{ form_errors(form.program) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.specialization) }}</div>
            <div class="col-md-2">{{ form_widget(form.specialization) }}</div>
            <div class="col-md-4">{{ form_errors(form.specialization) }}</div>
            </div>
            <br>
            <div class="row">
         
            <div class="col-md-2">{{ form_label(form.prerequistes) }}</div>
           <div class="col-md-2">{{ form_widget(form.prerequistes,{  'help' : 'Put NA if this field is not applicable' } ) }}</div>
            <div class="col-md-4">{{ form_errors(form.prerequistes) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.learningoutcomes) }}</div>
            <div class="col-md-2">{{ form_widget(form.learningoutcomes,{'help':'List 4-5 broad statements of what you hope students 
            will know, be able to do, or have experienced as a result of taking the course. 
            Upon completion of this course, students should be able to:'}) }}</div>
            <div class="col-md-4">{{ form_errors(form.learningoutcomes) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.courseoverview) }}</div>
            <div class="col-md-2">{{ form_widget(form.courseoverview,{'help':'Explain concisely what the course is about and 
            provide a holistic view of your course'}) }}</div>
            <div class="col-md-4">{{ form_errors(form.courseoverview) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.listoftopics) }}</div>
            <div class="col-md-2">{{ form_widget(form.listoftopics,{'help':'Highlight the fundamental concepts involved in each topic in order to help 
            students better understand what is and what is not covered in the course'}) }}</div>
            <div class="col-md-4">{{ form_errors(form.listoftopics) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.assessmentscheme) }}</div>
            <div class="col-md-2">{{ form_widget(form.assessmentscheme,{'help':'Provide a breakdown of internal assessment and final exam (if there is one). Indicate the main components, what they will test, and their weighting or percentage worth. For example: 1. Class attendance and participation [xx %],
            2. Group Project and Presentation [xx %], 3. Assignments [xx %], 
            4. Project [xx %], 5. Final Exam [xx %], …'}) }}</div>
            <div class="col-md-4">{{ form_errors(form.assessmentscheme) }}</div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-2">{{ form_label(form.recommendedresources) }}</div>
            <div class="col-md-2">{{ form_widget(form.recommendedresources,{'help':'References, online resources, e-books, papers'}) }}</div>
            <div class="col-md-4">{{ form_errors(form.recommendedresources) }}</div>
            </div>
            <br>
            
        <div class="row">
            <div class="col-md-2"> <input type="submit" value="Add" id="submit"/>
                <style> input#submit{width:100px}</style></div>
                <div class="col-md-2"></div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}