{% trans_default_domain 'FOSUserBundle' %}
<style>#fos_user_change_password_form_plainPassword_first{
      margin: 20px 0px 5px 50px; 
    }
    </style>
<style>#fos_user_change_password_form_plainPassword_second{
      margin: 20px 0px 100px 0px; 
    }
    </style>  
    
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
          {{ form_label(form.current_password) }}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{ form_widget(form.current_password) }}
          {{ form_errors(form.current_password) }}
          
          {{ form_widget(form.plainPassword) }}
          {{ form_errors(form.plainPassword) }}
   
    {#    {{ form_widget(form) }}#}
      
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}